---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="container">
    <h1>Bienvenido a Transparentes</h1>
    <p>Esta es una aplicación FCI</p>
    <p><a href="/sobre">Sobre</a></p>
  </div>
</Layout>
