---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="container">
    <h1>Bienvenido a sobre Transparentes</h1>
    <p>Esta es una página de explicación</p>
    <p><a href="/">Inicio</a></p>
  </div>
</Layout>
